body {
  background-image: url('test.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* parallax-like effect */
  overflow-x: hidden;
  overflow-y: hidden;
  
}


@font-face {
    font-family: 'mencken';
    src: url('mencken-std-narrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}


#nav_logo {
    font-family: 'mencken';
    text-decoration: none;
    color: white;
    font-size: 2rem;
}


#btn-nav{
    font-family: 'mencken';
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
    align-items: center;
    background: none;
    cursor: pointer;
}

#landing {
    flex: 1;                    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;         
    text-align: center;         
    color: white;  
    padding-bottom: 150px;


    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s ease-out forwards;
}       


#p-top {
    font-family: 'mencken';
    color: gray;
    padding-bottom: 0;
    margin-bottom: 0;
}

#taskly {
    font-family: 'mencken';
    font-weight: 600;
    font-size: 5rem;
    line-height: 0.3;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow:  2px 2px 10px rgba(255, 255, 255, 0.6);
}

#organize {
    font-family: 'poppins';
    font-size: medium;
    font-weight: 600;
}

#para{
    font-family: "poppins";
    margin: 0;
    max-width: 500px;
    text-align: center;
    line-height: 1.6;
    font-size: large;
    color: gray;
    padding: 0px 10px;
}


@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
        transition: ease-in-out;
    }
}

#form-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 20px;
    padding-bottom: 150px;
    opacity: 0;
    transform: translateY(40px);
    animation: slideUp 1s ease-out forwards;
    transition: ease-in;
}

#sign {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 350px;   
}

#sign input {
    width: 100%;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.515);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.529);
    font-size: 1rem;
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
}

#sign label {
    line-height: 0.5;
}

#sign button {
    font-family: 'poppins';
    font-weight: bold;
    width:390px;
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.6);
    
}

#sign input:focus {
    outline: none;
    border-color: #7c9cff;
}